form {
    display: flex;
    justify-content: flex-start;
    margin-left: 45px;
}

.container-fluid, body {
    color: #0c0c0c;
    background: no-repeat center/cover url('/static/img/login.jpg');
    background-attachment: fixed;
}

h1 {
    margin-left: 40px;
    margin-top: 20px;
}