{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block body %}
<link href="/static/css/search.css" rel="stylesheet">
<h2>Search for a reservation here!</h2>

<form id="reservation">
Select time:
<select id="time" name="time">
    {% for hour in range(24) %}
        {% for minute in [0, 30] %}
        {% if hour < 12 %}
    <option value="{{ '%02d:%02d:00'|format(hour, minute) }}">{{ '%02d:%02d AM'|format(hour if hour != 0 else 12, minute) }}</option>
{% else %}
    <option value="{{ '%02d:%02d:00'|format(hour, minute) }}">{{ '%02d:%02d PM'|format(hour - 12 if hour != 12 else 12, minute) }}</option>
{% endif %}
        {% endfor %}
    {% endfor %}
</select>

<label for="datepicker">Select Date: </label>
<input type="text" id="datepicker" name="date" placeholder="YYYY-MM-DD" required>

<script>
$( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0,
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2023",
        showAnim: "slide"
    });


    $("#start-time").on("change", function() {
        var time = new Date($(this).val());
        var minutes = time.getMinutes();
        if (minutes < 15) {
            time.setMinutes(0);
        } else if (minutes < 45) {
            time.setMinutes(30);
        } else {
            time.setMinutes(0);
            time.setHours(time.getHours() + 1);
        }
        $(this).val(time.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}));
    });
} );
</script>

<button onclick="submitReservation()">Save Reservation</button>
</form>
<br>

<ul>
    <li><a href="/view_reservations" class="green-link">View reservations</a></li>
    <li><a href="/logout" class="green-link">Logout</a></li>
</ul>


<script src="/static/js/save_reservation.js"></script>
<script src="/static/js/search.js"></script>

{% endblock %}
